.recipe {
    background-color: aqua;
}

.interaction {
    background-color: green;
}

.rating {
    background-color: yellow;
}

.form {
    background-color: orange;
}

.comments {
    background-color: lightgreen;
}