/* Make NavLink look like the existing button */
.category-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding: 0.3rem 0.9rem;
}

.category-link.active {
  /* color: var(--chrome-bg); */
  font-weight: bolder;
  font-family: var(--font-fw-bold);
  font-size: 1.15rem;
}

/* CATEGORY - RECIPE COUNT  */
.category-recipe-count {
  color: #666;
  font-weight: 500;
}

.category-recipe-count:hover {
  color: var(--chrome-bg);
  font-weight: 500;
}

/* Variant: LINK (HomePage) */
.category-item.link {
  background: transparent;
  border: none;
  justify-content: flex-start;
  text-align: left;
}

.category-item.link:hover {
  color: var(--chrome-bg);
  text-decoration: none;
}

/* Variant: TOGGLE (CategoryPage) */
.category-item.toggle {
  justify-content: space-between;
}

@media (max-width: 600px) {
  .category-item.link {
    color: var(--page-bg);
    justify-content: center;
  }
  .category-item.link:hover,
  .category-recipe-count {
    color: var(--page-bg);
  }
}
