.logo-text {
  font-weight: 600;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  margin: 0;
  cursor: pointer;
  user-select: none;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  opacity: 0;
  animation: fadeInLogo 1s ease-in-out forwards;
}

.logo-text:hover {
  transform: scale(1.05);
  color: var(--page-bg);
}

@keyframes fadeInLogo {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-text.default {
  font-size: 2rem;
}

.logo-text.small {
  font-size: 1.6rem;
}
