.rating {
  display: flex;
  flex-direction: column;               
  align-items: center;        
  background-color: #ffffff;
  border-radius: 30px;
  padding: 35px;
  max-width: 1000px;
  margin: 40px auto;
}

.title {
  color: #000000;
  margin-bottom: 10px;
  margin-top: -15px;
}

.stars {
  display: flex;           
  justify-content: center; 
  margin-bottom: -10px;
}

.star {
  cursor: pointer;
  font-size: 1.3rem;
  color: #000000;               
  transition: transform 0.2s ease, color 0.2s ease;
}

.star:hover {
  transform: scale(1.2);
}

.hovered {
  color: gold;             
}

.thankYou {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  padding: 8px 20px;
  max-width: 300px;
}

.error {
  color: #b00020;
  padding: 12px 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 300px;
  margin-bottom: 10px;
}