.rating {
  display: flex;
  flex-direction: column;               
  align-items: center;        
  background-color: #fff;
  border-radius: 40px;
  padding: 35px;
  max-width: 1000px;
  margin: 40px auto;
}

.title {
  color: #000000;
  margin-bottom: 8px;  
    
}

.stars {
  display: flex;           
  justify-content: center; 
}

.star {
  cursor: pointer;
  font-size: 1.4rem;
  color: #000000;               
  transition: transform 0.2s ease, color 0.2s ease;
}

.star:hover {
  transform: scale(1.2);
}

.hovered {
  color: gold;             
}